.book-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto auto;
    background: #ffffff;
    padding-bottom: 20px;
    width: 800px;
    border-radius: 30px;
}

.book-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 50px;
}

.book-text {
    color: #1648a4;
    font-size: 48px;
    font-weight: 700;
}

.book-underline {
    width: 61px;
    height: 6px;
    background: #1648a4;
    border-radius: 9px;
}

.book-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.book-list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
}

.book-add-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 50%;
}

.modal-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 110px;
    padding: 20px;
    gap: 10px;
}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 380px;
    margin-top: -50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    gap: 10px;
}

.modal-book-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #062967;
    font-size: 18px;
    width: 250px;
}

.modal-rental-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #062967;
    font-size: 18px;
    width: 250px;
}

.modal-review-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #062967;
    font-size: 18px;
    width: 250px;
}

.modal-horizontal-line {
    width: 6px;
    height: 61px;
    background: #1648a4;
    border-radius: 9px;
}

.modal-text-body {
    color: #062967;
    padding-top: 20px;
    font-size: 18px;
}

.modal-button {
    gap: 30px;
    width: 100%;
    margin-top: 35px;
}

.book-underline-minor {
    align-items: center;
    width: 61px;
    height: 2px;
    background: #1648a4;
    border-radius: 9px;
}

.modal-text {
    display: flex;
    flex-direction: row;
    color: #1648a4;
    font-size: 22px;
    justify-content: center;
    font-weight: bold;
    margin-top: auto;
}

.modal-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 35px;
}

.modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1648a4;
    gap: 25px;
    width: 100%;
}

.modal-underline-minor {
    width: 61px;
    height: 4px;
    margin-top: 10px;
    background: #1648a4;
    border-radius: 9px;
}

.book-edit-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
}